:root {
  // Fonts
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  //  Text colors
  --main-txt-cl: #555555;
  --secondary-txt-cl: #9da4bd;
  --title-txt-cl: #303030;
  --white-txt-cl: #ffffff;
  --uppertitle-txt-cl: rgba(157, 164, 189, 0.6);
  --mobile-menu-txt-cl: #303030;
  // Background colors
  --background-light-cl: #f7f7f7;
  --background-prices-cl: #111319;
  --background-dark-cl: #191c26;
  --background-white-cl: #ffffff;
  // Logo colors
  --logo-white-cl: #ffffff;
  --logo-black-cl: #000000;
  // Button colors
  --close-btn-cl: #303030;
  // Borders color
  --border-grey-cl: rgba(157, 164, 189, 0.4);
  --border-white-cl: #ffffff;
  --border-light-cl: rgba(33, 33, 33, 0.2);
  // Placeholder color
  --placeholder-light-cl: rgba(33, 33, 33, 0.2);
  --placeholder-grey-cl: rgba(157, 164, 189, 0.4);
  // Backdrop color
  --backdrop-cl: rgba(0, 0, 0, 0.2);
  // Psevdoelement colors
  --psevdoelement-light-cl: rgba(157, 164, 189, 0.6);
  --psevdoelement-prices-cl: rgba(157, 164, 189, 0.12);
  --psevdoelement-socials-cl: #303030;
  // Icon color
  --modal-icon-close-cl: #212121;
  --modal-validate-warning-cl: #d60202;
  --modal-validate-success-cl: #03b403;
  --modal-agreement-icon-cl: #212121;
  --icon-white-cl: #ffffff;
  // Accent colors
  --accent-cl: #ff6c00;
  --placeholder-accent-cl: rgba(255, 108, 0, 0.5);
  // Shadows
  --btn-shadow: 0px 4px 4px 0px #00000026;
  --modal-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  // Gradient colors
  --price-list-gredient-cl: #171a24, #171a2433;
  // Duration
  --duration: 250ms;
  --duration-slow: 600ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // Delays
  --delay-menu: 250ms;
  // Font weight
  --fw-s: 400;
  --fw-m: 500;
  --fw-l: 600;
  --fw-xl: 700;
  // Font sizes
  --fs-btn: 12px;
  --fs-nav: 12px;
  --fs-socials: 11px;
  --fs-socials-link-s: 12px;
  --fs-socials-link-l: 14px;
  --fs-uppertitle-s: 9px;
  --fs-uppertitle-m: 11px;
  --fs-section-title-s: 26px;
  --fs-section-title-l: 42px;
  --fs-notification: 11px;
  --fs-header-contacts: 12px;
  --fs-hero-maintitle-s: 40px;
  --fs-hero-maintitle-l: 48px;
  --fs-hero-descr-s: 12px;
  --fs-hero-descr-l: 16px;
  --fs-about-title-s: 28px;
  --fs-about-title-l: 42px;
  --fs-about-subtitle-s: 16px;
  --fs-about-subtitle-l: 18px;
  --fs-about-descr: 14px;
  --fs-prices-title-m: 40px;
  --fs-prices-title-l: 42px;
  --fs-prices-sublist-s: 11px;
  --fs-prices-sublist-m: 14px;
  --fs-prices-sublist-l: 18px;
  --fs-benefits-text: 18px;
  --fs-benefits-item: 11px;
  --fs-benefits-value: 42px;
  --fs-benefits-after: 16px;
  --fs-contacts-link: 18px;
  --fs-masters-subtitle: 18px;
  --fs-masters-descr: 14px;
  --fs-booking-form-label: 11px;
  --fs-menu-list: 18px;
  --fs-menu-contacts: 18px;
  --fs-modal-title-s: 25px;
  --fs-modal-title-m: 36px;
  --fs-modal-form-label: 12px;
  --fs-modal-form-placeholder: 16px;
  --fs-modal-egreement-s: 12px;
  --fs-modal-egreement-l: 14px;
  --fs-work-time: 18px;
  --fs-footer-copyright: 11px;
  // Line-heights
  --lh-btn: 1.33;
  --lh-nav: 1.33;
  --lh-socials: 1.36;
  --lh-uppertitle-s: 1.44;
  --lh-uppertitle-m: 1.36;
  --lh-section-title-s: 1.15;
  --lh-section-title-m: 1.17;
  --lh-notification: 1.67;
  --lh-header-contacts: 1.33;
  --lh-hero-maintitle: 1.17;
  --lh-hero-descr-s: 1.67;
  --lh-hero-descr-m: 1.63;
  --lh-about-title-s: 1.18;
  --lh-about-title-d: 1.17;
  --lh-about-subtitle-s: 1.63;
  --lh-about-subtitle-m: 1.67;
  --lh-about-descr: 1.86;
  --lh-prices-title-m: 1.18;
  --lh-prices-title-t: 1.17;
  --lh-prices-subtitle-s: 1.4;
  --lh-prices-subtitle-m: 1.43;
  --lh-prices-subtitle-t: 1.67;
  --lh-benefits-text: 1.67;
  --lh-benefits-item: 1.36;
  --lh-benefits-value: 1.36;
  --lh-benefits-after: 1.38;
  --lh-masters-subtitle: 1.39;
  --lh-masters-descr: 1.36;
  --lh-booking-form-label: 1.36;
  --lh-booking-form-input: 1.36;
  --lh-contacts-link: 1.67;
  --lh-work-time: 1.67;
  --lh-footer-copyright: 1.36;
  --lh-modal-title-s: 1.16;
  --lh-modal-title-m: 1.17;
  --lh-modal-form-label: 1.17;
  --lh-modal-input-placeholder: 1.13;
  --lh-modal-egreement-text-s: 1.83;
  --lh-modal-egreement-text-t: 1.71;
  --lh-menu-list: 1.39;
  --lh-menu-contacts: 1.39;
  --lh-menu-social-link-s: 1.33;
  --lh-menu-social-link-m: 1.36;
  // Letter spacings
  --ls-btn: 0.09em;
  --ls-nav: 0.1em;
  --ls-socials: 0.2em;
  --ls-section-title: 0.05em;
  --ls-notification: 0.01em;
  --ls-header: 0.1em;
  --ls-hero-uppertitle: 0.1em;
  --ls-hero-maintitle: 0.05em;
  --ls-prices-sublist: 0.02em;
  --ls-benefits-value: 0.05em;
  --ls-booking-form-label: 0.1em;
  --ls-contacts-link: 0.02em;
  --ls-work-time: 0.02em;
  --ls-footer-copyright: 0.02em;
  --ls-modal-form: 0.01em;
  --ls-modal-input-placeholder: 0.1em;
  --ls-modal-egreement-text: 0.03em;
  --ls-menu-list: 0.1em;
  --ls-menu-contacts: 0.1em;
  --ls-menu-socials-link: 0.2em;
  letter-spacing: 0em;
  letter-spacing: 0.01em;
  letter-spacing: 0.02em;
  letter-spacing: 0.03em;
  letter-spacing: 0.05em;
  letter-spacing: 0.09em;
  letter-spacing: 0.1em;
  letter-spacing: 0.2em;
  // Other
  --indent: 30px;
  --item: 2;
}
