:root {
  // Fonts
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  //  Text colors
  --main-txt-cl: #555555;
  --secondary-txt-cl: #9da4bd;
  --title-txt-cl: #303030;
  --white-txt-cl: #ffffff;
  --uppertitle-txt-cl: rgba(157, 164, 189, 0.6);
  // // Background colors
  --background-light-cl: #f7f7f7;
  --background-prices-cl: #111319;
  --background-dark-cl: #191c26;
  --background-white-cl: #ffffff;
  // Button colors
  --close-btn-cl: rgba(33, 33, 33, 0.2);
  // Borders color
  --border-grey-cl: rgba(157, 164, 189, 0.4);
  --border-white-cl: #ffffff;
  --border-light-cl: rgba(33, 33, 33, 0.2);
  // Placeholder color
  --placeholder-light-cl: rgba(33, 33, 33, 0.2);
  --placeholder-grey-cl: rgba(157, 164, 189, 0.4);
  // Backdrop color
  --backdrop-cl: rgba(0, 0, 0, 0.2);
  // Psevdoelement colors
  --psevdoelement-light-cl: rgba(157, 164, 189, 0.6);
  --psevdoelement-prices-cl: rgba(157, 164, 189, 0.12);
  // Accent colors
  --accent-cl: #ff6c00;
  --placeholder-accent-cl: rgba(255, 108, 0, 0.5);
  // Shadows
  --btn-shadow: 0px 4px 4px 0px #00000026;
  --modal-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  // Icon colors
  --icon-white-cl: #ffffff;
  // Gradient colors
  --price-list-gredient-cl: #171a24, #171a2433;
  // Duration
  --duration: 2500ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // Other
  --indent: 30px;
  --item: 2;

  // // --black-txt-cl: #000000;
  // --white-transparent-txt-cl: #rgba(255, 255, 255, 0.6);
  // --background-dark-cl: #2f303a;
  // --background-hero-cl: #c4c4c4;
  // --background-dark-social-bg-cl: #44454e;
  // // Icons color
  // --icon-cl: #afb1b8;
  // // Border color
  // --header-border-cl: #ececec;
  // --card-border-cl: #eeeeee;
  // // Overlay color
  // --overlay-hero-cl: rgba(47, 48, 58, 0.4);
}
