:root {
  // Fonts
  --main-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  //  Text colors
  --main-txt-cl: #555555;
  --secondary-txt-cl: #9da4bd;
  --title-txt-cl: #303030;
  --white-txt-cl: #ffffff;
  --uppertitle-txt-cl: rgba(157, 164, 189, 0.6);
  // // Baclground colors
  --background-light-cl: #f7f7f7;
  --background-prices-cl: #111319;
  --background-dark-cl: #191c26;
  // Icon colors
  --icon-white-cl: #ffffff;
  // Accent colors
  --accent-cl: #ff6c00;

  // // --black-txt-cl: #000000;
  // --white-transparent-txt-cl: #rgba(255, 255, 255, 0.6);
  // --background-dark-cl: #2f303a;
  // --background-white-cl: #ffffff;
  // --background-hero-cl: #c4c4c4;
  // --background-dark-social-bg-cl: #44454e;
  // // Icons color
  // --icon-cl: #afb1b8;
  // // Border color
  // --header-border-cl: #ececec;
  // --card-border-cl: #eeeeee;
  // // Overlay color
  // --overlay-hero-cl: rgba(47, 48, 58, 0.4);
  // // Other
  // --indent: 30px;
  // --item: 4;
}
