<!-- About -->
<section class="section">
  <div class="container">
    <ul class="about-list">
      <li>
        <img
          src="./images/about/img-1.jpg"
          alt="Shaving the beard"
          width="270"
          height="445"
        />
      </li>
      <li>
        <img
          src="./images/about/img-2.jpg"
          alt="Shaving with a straight razor"
          width="270"
          height="445"
        />
      </li>
    </ul>
    <p class="section-uppertitle">About</p>
    <h2 class="about-title section-title">Best Barbershop in your city</h2>
    <h3 class="about-subtitle">
      If you want to add more confidence to your image, you should definitely
      visit us.
    </h3>
    <p class="about-descr">
      We are a team that never stops at what has been achieved and are thirsty
      for changes. And when you fall into the hands of our master, you will
      never be the same again. We are a team that is always "on the same wave"
      with clients. Therefore, we are always ready to improve everyone who comes
      to us!
    </p>
    <button class="btn btn-white" type="button">Online-booking</button>
  </div>
</section>
