<!-- About -->
<section class="about section" id="about">
  <div class="container">
    <ul class="about__list">
      <li>
        <img
          src="./images/about/img-1.jpg"
          alt="Shaving the beard"
          width="270"
          height="445"
        />
      </li>
      <li>
        <img
          src="./images/about/img-2.jpg"
          alt="Shaving with a straight razor"
          width="270"
          height="445"
        />
      </li>
    </ul>
    <p class="section-uppertitle">About</p>
    <h2 class="about__title section-title">Best Barbershop in your city</h2>
    <h3 class="about__subtitle">
      If you want to add more confidence to your image, you should visit us
    </h3>
    <p class="about__descr">
      We are a team that never stops at what has been achieved and are thirsty
      for changes. And when you fall into the hands of our master, you will
      never be the same again. We are a team that is always "on the same wave"
      with clients. Therefore, we are always ready to improve everyone who comes
      to us!
    </p>
    <a class="btn btn-white" href="#booking">Online-booking</a>
  </div>
</section>
