<!-- Benefits -->
<section class="section">
  <div class="container">
    <p class="section-uppertitle">Old traditional school</p>
    <h2 class="benefits-title section-title">¿Why people come to us?</h2>
    <p class="benefits-descr">
      Only good things are said about us. But it's better to see and feel 1 time
      than read 10 times.
    </p>
    <ul class="benefits-list">
      <li class="benefits-item">
        <span class="benefits-value">600</span>
        <p>Satisfied customers per day</p>
      </li>
      <li class="benefits-item">
        <span class="benefits-value">50</span>
        <p>Awards for excellent service</p>
      </li>
      <li class="benefits-item">
        <span class="benefits-value">20</span>
        <p>Kyiv’s best barbers</p>
      </li>
      <li class="benefits-item">
        <span class="benefits-value">100</span>
        <p>Gifts for regular customers</p>
      </li>
    </ul>
  </div>
</section>
