<!-- Contacts -->
<section class="contacts section">
  <div class="container">
    <h2 class="contacts-title section-title">Contacts</h2>
    <address>
      <ul class="contacts-list">
        <li class="contacts-item contacts-address">
          <a
            href="https://maps.app.goo.gl/C2FUEhGoKdeHeM456"
            target="_blank"
            rel="noopener noreferrer"
            >st. Vasilkivska, 7A Kyiv, 08132</a
          >
        </li>
        <li class="contacts-item">
          <a href="tel:+380441111111">+38 044 111 11 11</a>
        </li>
        <li class="contacts-item">
          <a href="mailto:barbershop@email.com">barbershop@email.com</a>
        </li>
      </ul>
      <include src="./partials/work-time.html"></include>
    </address>
  </div>
</section>
