<section class="contacts _yakir" id="contacts">
  <h2 class="contacts__title section-title">Contacts</h2>
  <div class="contacts__wrap">
    <address>
      <ul class="contacts__list">
        <li class="contacts__item contacts__address">
          <a
            class="contacts__link"
            href="https://maps.app.goo.gl/C2FUEhGoKdeHeM456"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="contacts__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-map-pin"></use>
            </svg>
            st. Vasilkivska, 7A Kyiv, 08132
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+380441111111">
            <svg class="contacts__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            +38 044 111 11 11</a
          >
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="mailto:barbershop@email.com">
            <svg class="contacts__icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
            barbershop@email.com</a
          >
        </li>
      </ul>
    </address>
    <include src="./partials/work-time.html"></include>
  </div>
</section>
