<section class="gallery">
  <div class="container">
    <p class="gallery__uppertitle section-uppertitle">
      In Latin, "barba" means "beard"
    </p>
    <h2 hidden>Gallery</h2>
    <ul class="gallery__list card-set">
      <li class="card-item">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-1_d.webp    1x,
              ./images/gallery/gallery-1@2x_d.webp 2x,
              ./images/gallery/gallery-1@3x_d.webp 3x,
              ./images/gallery/gallery-1@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-1_d.jpg    1x,
              ./images/gallery/gallery-1@2x_d.jpg 2x,
              ./images/gallery/gallery-1@3x_d.jpg 3x,
              ./images/gallery/gallery-1@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-1_t.webp    1x,
              ./images/gallery/gallery-1@2x_t.webp 2x,
              ./images/gallery/gallery-1@3x_t.webp 3x,
              ./images/gallery/gallery-1@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-1_t.jpg    1x,
              ./images/gallery/gallery-1@2x_t.jpg 2x,
              ./images/gallery/gallery-1@3x_t.jpg 3x,
              ./images/gallery/gallery-1@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-1_m.webp    1x,
              ./images/gallery/gallery-1@2x_m.webp 2x,
              ./images/gallery/gallery-1@3x_m.webp 3x,
              ./images/gallery/gallery-1@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-1_m.jpg    1x,
              ./images/gallery/gallery-1@2x_m.jpg 2x,
              ./images/gallery/gallery-1@3x_m.jpg 3x,
              ./images/gallery/gallery-1@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/gallery/gallery-1_t.jpg"
            alt="Haircut"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="card-item">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.webp    1x,
              ./images/gallery/gallery-2@2x_d.webp 2x,
              ./images/gallery/gallery-2@3x_d.webp 3x,
              ./images/gallery/gallery-2@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-2_d.jpg    1x,
              ./images/gallery/gallery-2@2x_d.jpg 2x,
              ./images/gallery/gallery-2@3x_d.jpg 3x,
              ./images/gallery/gallery-2@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-2_t.webp    1x,
              ./images/gallery/gallery-2@2x_t.webp 2x,
              ./images/gallery/gallery-2@3x_t.webp 3x,
              ./images/gallery/gallery-2@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-2_t.jpg    1x,
              ./images/gallery/gallery-2@2x_t.jpg 2x,
              ./images/gallery/gallery-2@3x_t.jpg 3x,
              ./images/gallery/gallery-2@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-2_m.webp    1x,
              ./images/gallery/gallery-2@2x_m.webp 2x,
              ./images/gallery/gallery-2@3x_m.webp 3x,
              ./images/gallery/gallery-2@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-2_m.jpg    1x,
              ./images/gallery/gallery-2@2x_m.jpg 2x,
              ./images/gallery/gallery-2@3x_m.jpg 3x,
              ./images/gallery/gallery-2@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/gallery/gallery-2_t.jpg"
            alt="Shaving the beard"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="card-item">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-3_d.webp    1x,
              ./images/gallery/gallery-3@2x_d.webp 2x,
              ./images/gallery/gallery-3@3x_d.webp 3x,
              ./images/gallery/gallery-3@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-3_d.jpg    1x,
              ./images/gallery/gallery-3@2x_d.jpg 2x,
              ./images/gallery/gallery-3@3x_d.jpg 3x,
              ./images/gallery/gallery-3@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-3_t.webp    1x,
              ./images/gallery/gallery-3@2x_t.webp 2x,
              ./images/gallery/gallery-3@3x_t.webp 3x,
              ./images/gallery/gallery-3@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-3_t.jpg    1x,
              ./images/gallery/gallery-3@2x_t.jpg 2x,
              ./images/gallery/gallery-3@3x_t.jpg 3x,
              ./images/gallery/gallery-3@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-3_m.webp    1x,
              ./images/gallery/gallery-3@2x_m.webp 2x,
              ./images/gallery/gallery-3@3x_m.webp 3x,
              ./images/gallery/gallery-3@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-3_m.jpg    1x,
              ./images/gallery/gallery-3@2x_m.jpg 2x,
              ./images/gallery/gallery-3@3x_m.jpg 3x,
              ./images/gallery/gallery-3@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/gallery/gallery-3_t.jpg"
            alt="Haircut"
            width="418"
            height="360"
          />
        </picture>
      </li>
      <li class="card-item">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-4_d.webp    1x,
              ./images/gallery/gallery-4@2x_d.webp 2x,
              ./images/gallery/gallery-4@3x_d.webp 3x,
              ./images/gallery/gallery-4@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/gallery/gallery-4_d.jpg    1x,
              ./images/gallery/gallery-4@2x_d.jpg 2x,
              ./images/gallery/gallery-4@3x_d.jpg 3x,
              ./images/gallery/gallery-4@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-4_t.webp    1x,
              ./images/gallery/gallery-4@2x_t.webp 2x,
              ./images/gallery/gallery-4@3x_t.webp 3x,
              ./images/gallery/gallery-4@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/gallery/gallery-4_t.jpg    1x,
              ./images/gallery/gallery-4@2x_t.jpg 2x,
              ./images/gallery/gallery-4@3x_t.jpg 3x,
              ./images/gallery/gallery-4@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-4_m.webp    1x,
              ./images/gallery/gallery-4@2x_m.webp 2x,
              ./images/gallery/gallery-4@3x_m.webp 3x,
              ./images/gallery/gallery-4@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/gallery/gallery-4_m.jpg    1x,
              ./images/gallery/gallery-4@2x_m.jpg 2x,
              ./images/gallery/gallery-4@3x_m.jpg 3x,
              ./images/gallery/gallery-4@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/gallery/gallery-4_t.jpg"
            alt="Shaving with a straight razor"
            width="418"
            height="360"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
