<!-- Галерея -->
<section>
  <p>На латинском языке “барба” означает “борода”</p>
  <h2>Галерея</h2>
  <ul>
    <li>
      <img
        src="./images/gallery/gallery-1.jpg"
        alt="Стрижка"
        width="270"
        height="360"
      />
    </li>
    <li>
      <img
        src="./images/gallery/gallery-2.jpg"
        alt="Бритье бороды"
        width="270"
        height="360"
      />
    </li>
    <li>
      <img
        src="./images/gallery/gallery-3.jpg"
        alt="Стрижка"
        width="270"
        height="360"
      />
    </li>
    <li>
      <img
        src="./images/gallery/gallery-4.jpg"
        alt="Бритье опасной бритвой"
        width="270"
        height="360"
      />
    </li>
  </ul>
</section>
