<!-- <section class="gallery">
  <div class="container">
    <p class="gallery__uppertitle section-uppertitle">
      In Latin, "barba" means "beard"
    </p>
    <h2 hidden>Gallery</h2>
    <ul class="card-set">
      <li class="card-item">
        <img
          src="./images/gallery/gallery-1.jpg"
          alt="Haircut"
          width="418"
          height="360"
        />
      </li>
      <li class="card-item">
        <img
          src="./images/gallery/gallery-2.jpg"
          alt="Shaving the beard"
          width="418"
          height="360"
        />
      </li>
      <li class="card-item">
        <img
          src="./images/gallery/gallery-3.jpg"
          alt="Haircut"
          width="418"
          height="360"
        />
      </li>
      <li class="card-item">
        <img
          src="./images/gallery/gallery-4.jpg"
          alt="Shaving with a straight razor"
          width="418"
          height="360"
        />
      </li>
    </ul>
  </div>
</section> -->
