<section class="header-mobile">
  <div class="header-mobile__container container">
    <a class="logo logo--white" href="./index.html" area-label="site logo"
      ><svg width="69" height="55">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      class="header-mobile__burger"
      type="button"
      area-label="mobile menu"
      data-menu-open
    >
      <svg class="header-mobile__icon" width="40" height="40">
        <use href="./images/sprite.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</section>
