<header class="header">
  <div class="header-container container">
    <nav class="site-nav">
      <a href="./index.html" area-label="site logo"
        ><svg width="69" height="55">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li><a href="">About</a></li>
        <li><a href="">Services and prices</a></li>
        <li><a href="">Barbers</a></li>
        <li><a href="">Contacts</a></li>
      </ul>
    </nav>
    <div class="contacts-wrap">
      <a href="tel:+380441111111">+38 044 111 11 11</a>
      <button class="btn btn-dark" type="button" data-modal-open>
        Online-booking
      </button>
    </div>
  </div>
</header>
