<header class="header" data-header>
  <div class="header__container container">
    <nav class="site-nav">
      <a
        class="logo logo--black"
        href="./index.html"
        area-label="site logo"
        data-header-logo
        ><svg width="69" height="55">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="site-nav__list">
        <li><a class="site-nav__link" href="#about">About</a></li>
        <li>
          <a class="site-nav__link" href="#prices">Services and prices</a>
        </li>
        <li><a class="site-nav__link" href="#masters">Barbers</a></li>
        <li><a class="site-nav__link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="header__contacts-wrap">
      <a class="header__contacts-link" href="tel:+380441111111"
        >+38 044 111 11 11</a
      >
      <button
        class="btn btn--dark animate__animated animate__pulse animate__delay-3s"
        type="button"
        data-modal-open
      >
        Online-booking
      </button>
    </div>
  </div>
</header>
