<section class="hero">
  <!-- Hero -->
  <div class="container">
    <ul hidden>
      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Youtube</a
        >
      </li>
    </ul>
    <div class="hero-wrap">
      <p class="section-uppertitle hero-uppertitle uppertitle">
        A hair salon for men in Kyiv
      </p>
      <h1 class="maintitle">BarberShop</h1>
      <p class="hero-descr">
        We are experts in trendy men’s haircuts. We work quickly, carefully and
        with style.
      </p>
      <!-- Slider pagination -->
      <div>
        <div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <button type="button">Back</button>
        <button type="button">Forward</button>
      </div>
    </div>
  </div>
</section>
