<!-- Masters -->
<section class="masters section">
  <div class="container">
    <p class="section-uppertitle">For true enjoyers of the atmosphere</p>
    <h2 class="masters-title section-title">Our barbers</h2>
    <ul class="card-set">
      <li class="card-item">
        <img
          class="masters-img"
          src="./images/masters/img-1.jpg"
          alt="John Smith"
          width="418"
          height="346"
        />
        <h3 class="masters-subtitle">John Smith</h3>
        <p class="masters-descr">Extreme Barber</p>
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="instagram link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="twitter link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="facebook link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="linkedin link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="card-item">
        <img
          class="masters-img"
          src="./images/masters/img-2.jpg"
          alt="Michele Doe"
          width="418"
          height="346"
        />
        <h3 class="masters-subtitle">Michele Doe</h3>
        <p class="masters-descr">Extreme Barber</p>
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="instagram link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="twitter link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="facebook link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="linkedin link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="card-item">
        <img
          class="masters-img"
          src="./images/masters/img-3.jpg"
          alt="Alan Black"
          width="418"
          height="346"
        />
        <h3 class="masters-subtitle">Alan Black</h3>
        <p class="masters-descr">Extreme Barber</p>
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="instagram link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="twitter link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="facebook link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="linkedin link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
