<!-- Masters -->
<section class="masters section">
  <div class="container">
    <p class="section-uppertitle">For true enjoyers of the atmosphere</p>
    <h2 class="masters-title section-title">Our barbers</h2>
    <ul class="card-set">
      <li class="card-item">
        <img
          class="masters-img"
          src="./images/masters/img-1.jpg"
          alt="John Smith"
          width="418"
          height="346"
        />
        <h3 class="masters-subtitle">John Smith</h3>
        <p class="masters-descr">Extreme Barber</p>
      </li>
      <li class="card-item">
        <img
          class="masters-img"
          src="./images/masters/img-2.jpg"
          alt="Michele Doe"
          width="418"
          height="346"
        />
        <h3 class="masters-subtitle">Michele Doe</h3>
        <p class="masters-descr">Extreme Barber</p>
      </li>
      <li class="card-item">
        <img
          class="masters-img"
          src="./images/masters/img-3.jpg"
          alt="Alan Black"
          width="418"
          height="346"
        />
        <h3 class="masters-subtitle">Alan Black</h3>
        <p class="masters-descr">Extreme Barber</p>
      </li>
    </ul>
  </div>
</section>
