<section class="masters" id="masters">
  <div class="masters__container container">
    <div class="masters__wrap">
      <p class="section-uppertitle">For true enjoyers of the atmosphere</p>
      <h2 class="masters__title section-title">Our barbers</h2>
    </div>
    <ul class="masters__list card-set">
      <li class="card-item">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/masters-1_d.webp    1x,
              ./images/masters/masters-1@2x_d.webp 2x,
              ./images/masters/masters-1@3x_d.webp 3x,
              ./images/masters/masters-1@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/masters-1_d.jpg    1x,
              ./images/masters/masters-1@2x_d.jpg 2x,
              ./images/masters/masters-1@3x_d.jpg 3x,
              ./images/masters/masters-1@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/masters-1_t.webp    1x,
              ./images/masters/masters-1@2x_t.webp 2x,
              ./images/masters/masters-1@3x_t.webp 3x,
              ./images/masters/masters-1@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/masters-1_t.jpg    1x,
              ./images/masters/masters-1@2x_t.jpg 2x,
              ./images/masters/masters-1@3x_t.jpg 3x,
              ./images/masters/masters-1@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/masters-1_m.webp    1x,
              ./images/masters/masters-1@2x_m.webp 2x,
              ./images/masters/masters-1@3x_m.webp 3x,
              ./images/masters/masters-1@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/masters-1_m.jpg    1x,
              ./images/masters/masters-1@2x_m.jpg 2x,
              ./images/masters/masters-1@3x_m.jpg 3x,
              ./images/masters/masters-1@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="masters__img"
            src="./images/masters/masters-1_t.jpg"
            alt="John Smith"
            width="418"
            height="346"
          />
        </picture>
        <h3 class="masters__subtitle">John Smith</h3>
        <p class="masters__descr">Extreme Barber</p>
        <ul class="social-icons__list">
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="instagram link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="twitter link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="facebook link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="linkedin link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="card-item">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/masters-2_d.webp    1x,
              ./images/masters/masters-2@2x_d.webp 2x,
              ./images/masters/masters-2@3x_d.webp 3x,
              ./images/masters/masters-2@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/masters-2_d.jpg    1x,
              ./images/masters/masters-2@2x_d.jpg 2x,
              ./images/masters/masters-2@3x_d.jpg 3x,
              ./images/masters/masters-2@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/masters-2_t.webp    1x,
              ./images/masters/masters-2@2x_t.webp 2x,
              ./images/masters/masters-2@3x_t.webp 3x,
              ./images/masters/masters-2@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/masters-2_t.jpg    1x,
              ./images/masters/masters-2@2x_t.jpg 2x,
              ./images/masters/masters-2@3x_t.jpg 3x,
              ./images/masters/masters-2@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/masters-2_m.webp    1x,
              ./images/masters/masters-2@2x_m.webp 2x,
              ./images/masters/masters-2@3x_m.webp 3x,
              ./images/masters/masters-2@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/masters-2_m.jpg    1x,
              ./images/masters/masters-2@2x_m.jpg 2x,
              ./images/masters/masters-2@3x_m.jpg 3x,
              ./images/masters/masters-2@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="masters__img"
            src="./images/masters/masters-2_t.jpg"
            alt="Michele Doe"
            width="418"
            height="346"
          />
        </picture>
        <h3 class="masters__subtitle">Michele Doe</h3>
        <p class="masters__descr">Extreme Barber</p>
        <ul class="social-icons__list">
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="instagram link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="twitter link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="facebook link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="linkedin link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="card-item">
        <picture>
          <!-- desktop screen -->
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/masters-3_d.webp    1x,
              ./images/masters/masters-3@2x_d.webp 2x,
              ./images/masters/masters-3@3x_d.webp 3x,
              ./images/masters/masters-3@4x_d.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/masters/masters-3_d.jpg    1x,
              ./images/masters/masters-3@2x_d.jpg 2x,
              ./images/masters/masters-3@3x_d.jpg 3x,
              ./images/masters/masters-3@4x_d.jpg 4x
            "
            type="image/jpg"
          />
          <!-- tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/masters-3_t.webp    1x,
              ./images/masters/masters-3@2x_t.webp 2x,
              ./images/masters/masters-3@3x_t.webp 3x,
              ./images/masters/masters-3@4x_t.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/masters/masters-3_t.jpg    1x,
              ./images/masters/masters-3@2x_t.jpg 2x,
              ./images/masters/masters-3@3x_t.jpg 3x,
              ./images/masters/masters-3@4x_t.jpg 4x
            "
            type="image/jpg"
          />
          <!-- mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/masters-3_m.webp    1x,
              ./images/masters/masters-3@2x_m.webp 2x,
              ./images/masters/masters-3@3x_m.webp 3x,
              ./images/masters/masters-3@4x_m.webp 4x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/masters/masters-3_m.jpg    1x,
              ./images/masters/masters-3@2x_m.jpg 2x,
              ./images/masters/masters-3@3x_m.jpg 3x,
              ./images/masters/masters-3@4x_m.jpg 4x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="masters__img"
            src="./images/masters/masters-3_t.jpg"
            alt="Alan Black"
            width="418"
            height="346"
          />
        </picture>
        <h3 class="masters__subtitle">Alan Black</h3>
        <p class="masters__descr">Extreme Barber</p>
        <ul class="social-icons__list">
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="instagram link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://twitter.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="twitter link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="facebook link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-icons__item">
            <a
              class="social-icons__link"
              href="https://www.linkedin.com/"
              target="_blank"
              rel="noopener noreferrer"
              area-label="linkedin link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
