<div class="overlay" hidden>
  <div class="menu">
    <button class="menu__close-btn close-btn" type="button">
      <svg class="close-btn__icon" width="24" height="24">
        <use href="./images//sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <nav class="site-nav">
      <ul class="menu__list site-nav__list">
        <li><a class="site-nav__link" href="#about">About</a></li>
        <li>
          <a class="site-nav__link" href="#prices">Services and prices</a>
        </li>
        <li><a class="site-nav__link" href="#masters">Barbers</a></li>
        <li><a class="site-nav__link" href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="menu__contatcs">
      <a class="menu__phone" href="tel:+380441111111">+38 044 111 11 11</a>
      <button class="menu__btn btn btn--white" type="button">
        online-booking
      </button>
    </div>
    <div class="menu-social-iconss">
      <ul>
        <li>
          <a
            class=""
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class=""
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Youtube</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
