<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-btn" type="button" data-modal-close>
      <svg class="close-btn__icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal__title section-title">Online-booking</h2>
    <form class="modal-form">
      <div class="modal-form__group" role="group">
        <label class="modal-form__wrap">
          <span class="modal-form__label">Name *</span>
          <span class="modal-form__container">
            <input
              class="modal-form__input"
              type="text"
              name="username"
              placeholder="Peter"
              minlength="2"
              required
            />
            <svg class="modal-form__icon" width="18" height="18">
              <use
                class="modal-form-icon__use"
                href="./images/sprite.svg#icon-modal-person"
              ></use>
            </svg>
            <svg class="modal-status__icon" width="18" height="18">
              <use
                class="modal-status__warning"
                href="./images/sprite.svg#icon-warning"
              ></use>
              <use
                class="modal-status__success"
                href="./images/sprite.svg#icon-success"
              ></use>
            </svg>
            <span class="modal-form__notfication">
              Please enter at least 2 characters
            </span>
          </span>
        </label>
        <label class="modal-form__wrap">
          <span class="modal-form__label">Phone *</span>
          <span class="modal-form__container">
            <input
              class="modal-form__input"
              type="tel"
              name="userphone"
              placeholder="+380123456789"
              minlength="13"
              maxlength="13"
              id="phone"
              pattern="\+380\d{9}"
              required
            />
            <svg class="modal-form__icon" width="18" height="18">
              <use
                class="modal-form-icon__use"
                href="./images/sprite.svg#icon-modal-phone"
              ></use>
            </svg>
            <svg class="modal-status__icon" width="18" height="18">
              <use
                class="modal-status__warning"
                href="./images/sprite.svg#icon-warning"
              ></use>
              <use
                class="modal-status__success"
                href="./images/sprite.svg#icon-success"
              ></use>
            </svg>
            <span class="modal-form__notfication">
              Enter the number in the format +380123456789
            </span>
          </span>
        </label>
      </div>
    </form>
  </div>
</div>
