<!-- Online-booking -->
<section class="booking section" id="booking">
  <div class="container">
    <h2 class="booking-title section-title">Online-booking</h2>
    <form class="booking-form">
      <div class="booking-form-group" role="group">
        <label class="booking-form-wrap" for="username">
          <input
            class="booking-form-input"
            type="text"
            name="username"
            minlength="2"
            placeholder="Peter"
            id="username"
            required
          />
          <span class="booking-form-label">Name *</span>
          <svg class="booking-status-icon" width="18" height="18">
            <use
              class="booking-status-warning"
              href="./images/sprite.svg#icon-warning"
            ></use>
            <use
              class="booking-status-success"
              href="./images/sprite.svg#icon-success"
            ></use>
          </svg>
          <span class="booking-form-notfication">
            Please enter at least 2 characters
          </span>
        </label>
        <label class="booking-form-wrap" for="phone">
          <input
            class="booking-form-input"
            type="tel"
            name="userphone"
            placeholder="+380123456789"
            minlength="13"
            maxlength="13"
            id="phone"
            pattern="\+380\d{9}"
            required
          />
          <span class="booking-form-label">Phone *</span>
          <svg class="booking-status-icon" width="18" height="18">
            <use
              class="booking-status-warning"
              href="./images/sprite.svg#icon-warning"
            ></use>
            <use
              class="booking-status-success"
              href="./images/sprite.svg#icon-success"
            ></use>
          </svg>
          <span class="booking-form-notfication">
            Enter the number in the format +380123456789
          </span>
        </label>
        <label class="booking-form-wrap">
          <textarea
            class="booking-form-input booking-form-message"
            name="message"
            rows="3"
            placeholder="Message"
          ></textarea>
          <span class="booking-form-label">Message</span>
        </label>
      </div>
      <button class="btn btn-dark" type="submit">send</button>
    </form>
  </div>
</section>
