<!-- Price -->
<section>
  <p>Spend your time with the best masters</p>
  <h2>Services and prices</h2>
  <ul>
    <li>
      <ul>
        <li>Men’s haircut from 300 uah.</li>
        <li>Beard trim from 300 uah.</li>
        <li>Mustache trim from 200 uah.</li>
        <li>Straight razor shave from 200 uah.</li>
      </ul>
    </li>
    <li>
      <ul>
        <li>Trainee’s haircut from 50 uah.</li>
        <li>Haircut under the nozzle from 200 uah.</li>
        <li>Children’s haircut (0-12 y.o.) from 300 uah.</li>
        <li>Camouflage of gray hair from 200 uah.</li>
      </ul>
    </li>
  </ul>
  <button type="button">online-booking</button>
</section>
