<!-- Price -->
<section class="prices section">
  <div class="container">
    <p class="section-uppertitle uppertitle">
      Spend your time with the best masters
    </p>
    <h2 class="prices-title section-title">Services and prices</h2>
    <ul class="prices-upperlist">
      <li class="prices-upperitem">
        <ul class="prices-sublist">
          <li>Men’s haircut <span>from 300 uah.</span></li>
          <li>Beard trim <span>from 300 uah.</span></li>
          <li>Mustache trim <span>from 200 uah.</span></li>
          <li>Straight razor shave <span>from 200 uah.</span></li>
        </ul>
      </li>
      <li class="prices-upperitem">
        <ul class="prices-sublist">
          <li>Trainee’s haircut <span>from 50 uah.</span>/li></li>
          <li>Haircut under the nozzle <span>from 200 uah.</span></li>
          <li>Children’s haircut (0-12 y.o.) <span>from 300 uah.</span></li>
          <li>Camouflage of gray hair <span>from 200 uah.</span></li>
        </ul>
      </li>
    </ul>
    <button class="btn btn-dark" type="button">online-booking</button>
  </div>
</section>
