.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-l);
  font-size: var(--fs-btn);
  line-height: var(--lh-btn);
  letter-spacing: var(--ls-btn);
  text-transform: uppercase;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  padding: 0;
  min-width: 160px;
  min-height: 40px;
  background-color: transparent;

  &--white {
    color: var(--title-txt-cl);
    transition-property: color, background-color, box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  &--white:hover,
  &--white:focus {
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
    box-shadow: var(--btn-shadow);
  }

  &--dark {
    display: flex;
    margin: 0 auto;
    max-width: 160px;
    color: var(--white-txt-cl);
    transition-property: background-color, box-shadow;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  &--dark:hover,
  &--dark:focus {
    background-color: var(--accent-cl);
    box-shadow: var(--btn-shadow);
  }
}
