.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-cl);
  border-radius: 25px;
  padding: 0;
  min-width: 160px;
  min-height: 40px;
  background-color: transparent;
}

.btn--white {
  color: var(--title-txt-cl);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.btn--white:hover,
.btn--white:focus {
  color: var(--white-txt-cl);
  background-color: var(--accent-cl);
  box-shadow: var(--btn-shadow);
}

.btn--dark {
  display: flex;
  margin: 0 auto;
  max-width: 160px;
  color: var(--white-txt-cl);
  transition-property: background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.btn--dark:hover,
.btn--dark:focus {
  background-color: var(--accent-cl);
  box-shadow: var(--btn-shadow);
}
