.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15;
  right: 15;
  border: transparent;
  color: var(--close-btn-cl);
  background-color: transparent;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }

  &__icon {
    fill: currentColor;
  }
}
