.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 44px;
}

.form-input {
  width: 100%;
  color: var(--white-txt-cl);
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid var(--placeholder-txt-cl);
  outline: transparent;
  transition-property: border-bottom;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.form-input:hover,
.form-input:focus {
  border-bottom: 1px solid var(--white-txt-cl);
}

.form-input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: var(--placeholder-txt-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.form-input:hover::placeholder,
.form-input:focus::placeholder {
  color: var(--white-txt-cl);
}

.form-message {
  height: 75px;
  resize: none;
}

.modal-message {
  height: 125px;
}
