.logo {
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &--black {
    color: var(--logo-black-cl);
  }

  &--white {
    color: var(--logo-white-cl);
  }
}
