.site-nav {
  display: flex;
}

.site-nav__list {
  @extend %align-list;
  gap: var(--indent);
  margin-left: 70px;

  @media screen and (min-width: 768px) {
    font-size: var(--fs-nav);
    line-height: var(--lh-nav);
    letter-spacing: var(--ls-nav);
    margin-left: 49px;
    gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 131px;
  }
}

.site-nav__link {
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover {
    color: var(--accent-cl);
  }
}

._site-nav__link--current {
  color: var(--accent-cl);
}
