.social-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  background-color: var(--background-white-cl);
  fill: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  fill: var(--accent-cl);
}
