.social-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.social-item {
}

.social-link {
  display: flex;
  background-color: var(--background-white-cl);
  fill: currentColor;
  border-radius: 50%;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  align-items: center;
  justify-content: center;
}

.social-link:hover,
.social-link:focus {
  fill: var(--accent-cl);
}
