.socials__list {
  @extend %align-list;
  justify-content: right;
  gap: 40px;
  font-weight: var(--fw-m);
  font-size: var(--fs-socials);
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--title-txt-cl);
  }
}

.socials__link {
  color: var(--title-txt-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}
