.social-icons__list {
  @extend %centeredFlex;
  gap: 10px;
}

.social-icons__link {
  @extend %centeredFlex;
  background-color: var(--background-white-cl);
  fill: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-cl);
  }
}
