.section-uppertitle {
  @extend %align-list;
  font-weight: var(--fw-l);
  font-size: var(--fs-uppertitle-s);
  line-height: var(--lh-uppertitle-s);
  text-transform: uppercase;
  color: var(--title-txt-cl);
  margin-bottom: 20px;
  gap: 20px;

  @media screen and (min-width: 480px) {
    font-size: var(--fs-uppertitle-m);
    line-height: var(--lh-uppertitle-m);
  }
}

.section-uppertitle::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.section-title {
  font-family: var(--title-font);
  font-size: var(--fs-section-title-s);
  line-height: var(--lh-section-title-s);
  letter-spacing: 0.05em;
  color: var(--title-txt-cl);

  @media screen and (min-width: 480px) {
    font-size: var(--fs-section-title-l);
    line-height: var(--lh-section-title-m);
  }
}
