.time-title {
  color: var(--white-txt-cl);
}

.time-title::before {
  background-color: var(--psevdoelement-light-cl);
}

.work-descr {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}
