.work-time__title {
  color: var(--white-txt-cl);

  &::before {
    background-color: var(--psevdoelement-light-cl);
  }
}

.work-time__descr {
  font-size: var(--fs-work-time);
  line-height: var(--lh-work-time);
  letter-spacing: var(--ls-work-time);
  color: var(--secondary-txt-cl);
}
