.about {
  @include section();

  @media screen and (min-width: 768px) {
    @include section(100px, 100px);
  }

  @media screen and (min-width: 1200px) {
    @include section(120px, 120px);
  }
}

.about__container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: var(--indent);
  }
}

.about__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: var(--indent);
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.about__right-side {
  @media screen and (min-width: 768px) {
    flex-basis: 330px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 500px;
  }
}

.about__title {
  font-size: var(--fs-about-title-s);
  line-height: calc(33 / 28);
  margin-bottom: 20px;
  max-width: 306px;

  @media screen and (min-width: 1200px) {
    font-size: var(--fs-about-title-l);
    line-height: calc(49 / 42);
    max-width: 470px;
  }
}

.about__subtitle {
  font-weight: var(--fw-s);
  font-size: var(--fs-about-subtitle-s);
  line-height: calc(26 / 16);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: var(--fs-about-subtitle-l);
    line-height: calc(30 / 18);
  }
}

.about__descr {
  font-size: var(--fs-about-descr);
  line-height: calc(26 / 14);
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 77px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 42px;
  }
}
