.about-list {
  display: none;
}

.about-title {
  font-size: 28px;
  line-height: calc(33 / 28);
}

.about-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(26 / 16);
}

.about-descr {
  font-size: 14px;
  line-height: calc(26 / 14);
}
