.benefits {
  @include section();

  @media screen and (min-width: 768px) {
    @include section(100px, 100px);
  }

  @media screen and (min-width: 1200px) {
    @include section(120px, 120px);
  }
}

.benefits__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 130px;
  }
}

.benefits__title {
  margin-bottom: 20px;
  max-width: 420px;

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) {
    max-width: 449px;
  }
}

.benefits__text {
  font-size: var(--fs-benefits-text);
  line-height: calc(30 / 18);

  @media screen and (max-width: 1199px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 768px) {
    max-width: 500px;
  }
}

.benefits__wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: end;
    flex-direction: column;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--indent);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.benefits__item {
  @extend %centeredFlex;
  flex-direction: column;
  font-weight: 600;
  font-size: var(--fs-benefits-item);
  line-height: calc(15 / 11);
  color: var(--title-txt-cl);
  background-color: var(--background-light-cl);
  text-align: center;
  width: 130px;
  height: 133px;

  @media screen and (min-width: 480px) {
    width: 194px;
  }

  @media screen and (min-width: 768px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:nth-child(odd) {
    margin-bottom: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }

  &:nth-child(2) {
    margin-top: 35;
  }
}

.benefits__descr {
  width: 122px;
}

.benefits__value {
  position: relative;
  font-weight: 700;
  font-size: var(--fs-benefits-value);
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: var(--title-txt-cl);
  margin-bottom: 6px;

  &::after {
    content: '+';
    position: absolute;
    top: 7px;
    right: -14px;
    font-weight: 600;
    font-size: var(--fs-benefits-after);
    line-height: calc(22 / 16);
    text-align: center;
    color: var(--accent-cl);
  }
}
