.benefits-title {
  margin-bottom: 20px;
}

.benefits-descr {
  font-size: 18px;
  line-height: calc(30 / 18);
  margin-bottom: 44px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.benefits-item {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--title-txt-cl);
  background-color: var(--background-light-cl);
  text-align: center;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 36px;
}

.benefits-item:nth-child(odd) {
  margin-bottom: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item:nth-child(2) {
  margin-top: 35;
}

.benefits-list-descr {
  width: 122px;
}

.benefits-value {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: var(--title-txt-cl);
  margin-bottom: 6px;
}
