.booking-contacts {
  background-color: var(--background-dark-cl);
  background-repeat: no-repeat;
  background-position: bottom;
  // mobile screen
  background-image: url('../images/contacts/contacts-bg_m.png');
  background-image: -webkit-image-set(
    url('../images/contacts/contacts-bg_m.webp') 1x
  );
  @include retinax2 {
    background-image: url('../images/contacts/contacts-bg@2x_m.png');
    background-image: -webkit-image-set(
      url('../images/contacts/contacts-bg@2x_m.webp') 2x
    );
  }
  @include retinax3 {
    background-image: url('../images/contacts/contacts-bg@3x_m.png');
    background-image: -webkit-image-set(
      url('../images/contacts/contacts-bg@3x_m.webp') 3x
    );
  }
  @include retinax4 {
    background-image: url('../images/contacts/contacts-bg@4x_m.png');
    background-image: -webkit-image-set(
      url('../images/contacts/contacts-bg@4x_m.webp') 4x
    );
  }

  @media screen and (max-width: 1199px) {
    background-size: 100% calc(50% - 25px);
  }

  @media screen and (min-width: 768px) {
    // tablet screen
    background-image: url('../images/contacts/contacts-bg_t.png');
    background-image: -webkit-image-set(
      url('../images/contacts/contacts-bg_t.webp') 1x
    );
    @include retinax2 {
      background-image: url('../images/contacts/contacts-bg@2x_t.png');
      background-image: -webkit-image-set(
        url('../images/contacts/contacts-bg@2x_t.webp') 2x
      );
    }
    @include retinax3 {
      background-image: url('../images/contacts/contacts-bg@3x_t.png');
      background-image: -webkit-image-set(
        url('../images/contacts/contacts-bg@3x_t.webp') 3x
      );
    }
    @include retinax4 {
      background-image: url('../images/contacts/contacts-bg@4x_t.png');
      background-image: -webkit-image-set(
        url('../images/contacts/contacts-bg@4x_t.webp') 4x
      );
    }
  }

  @media screen and (min-width: 1200px) {
    background-size: calc(50% - 15px) 100%;
    background-position: right;
    max-width: 1600px;
    margin: 0 auto;

    // desktop screen
    background-image: url('../images/contacts/contacts-bg_d.png');
    background-image: -webkit-image-set(
      url('../images/contacts/contacts-bg_d.webp') 1x
    );
    @include retinax2 {
      background-image: url('../images/contacts/contacts-bg@2x_d.png');
      background-image: -webkit-image-set(
        url('../images/contacts/contacts-bg@2x_d.webp') 2x
      );
    }
    @include retinax3 {
      background-image: url('../images/contacts/contacts-bg@3x_d.png');
      background-image: -webkit-image-set(
        url('../images/contacts/contacts-bg@3x_d.webp') 3x
      );
    }
    @include retinax4 {
      background-image: url('../images/contacts/contacts-bg@4x_d.png');
      background-image: -webkit-image-set(
        url('../images/contacts/contacts-bg@4x_d.webp') 4x
      );
    }
  }
}

.booking-contacts__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}
