.contacts {
  @include section();

  @media screen and (min-width: 768px) {
    @include section(100px, 100px);
  }

  @media screen and (min-width: 1200px) {
    @include section(130px, 111px);
    padding-left: 130px;
    width: 100%;
  }
}

.contacts__title {
  color: var(--white-txt-cl);
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.contacts__wrap {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    gap: 120px;
  }
}

.contacts__list {
  @media screen and (max-width: 767px) and (min-width: 1200px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }
}

.contacts__item {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 250px;
  }
}

.contacts__address {
  font-weight: var(--fw-xl);
}

.contacts__link {
  @extend %align-list;
  font-size: var(--fs-contacts-link);
  line-height: var(--lh-contacts-link);
  letter-spacing: var(--ls-contacts-link);
  fill: transparent;
  color: var(--secondary-txt-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.contacts__icon {
  stroke: currentColor;
  margin-right: 16px;
}
