.contacts {
  background-color: var(--background-dark-cl);
  background-image: url(./../images/contacts/contacts-img-sm.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts-list {
  margin-bottom: 44px;
}

.contacts-title {
  color: var(--white-txt-cl);
  text-align: center;
  margin-bottom: 40px;
}

.contacts-item {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  margin-bottom: 20px;
}

.contacts-link {
  display: flex;
  align-items: center;
}

.contacts-address {
  font-weight: 700;
}

.contacts-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  fill: transparent;
  stroke: var(--secondary-txt-cl);
}
