.contacts-title {
  color: var(--white-txt-cl);
}

.contacts-item {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

.contacts-address {
  font-weight: 700;
}
