.footer {
  @include section(44px, 44px);

  @media screen and (min-width: 768px) {
    @include section(56px, 56px);
  }
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 40px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--secondary-txt-cl);
  }
}

.footer__link {
  color: var(--title-txt-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--secondary-txt-cl);
}
