.header {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__contacts-wrap {
  display: flex;
  gap: 43px;
  align-items: center;
  margin-left: auto;
}
