.header-mobile {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &--no-transparency {
    background-color: rgba(25, 28, 38, 0.5);
    backdrop-filter: blur(4px);
  }
}

.header-mobile__container {
  display: flex;
  justify-content: space-between;
  color: var(--icon-white-cl);
}

.header-mobile__burger {
  border: none;
  color: var(--icon-white-cl);
  background-color: transparent;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.header-mobile__icon {
  fill: currentColor;
}
