.header-mobile {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-container {
  display: flex;
  justify-content: space-between;
  color: var(--icon-white-cl);
}

.mobile-logo {
  fill: currentColor;
}

.mobile-header-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.mobile-header-icon:hover,
.mobile-header-icon:focus {
  fill: var(--accent-cl);
}
