.header-mobile {
  position: absolute;
  width: 100%;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-mobile__container {
  display: flex;
  justify-content: space-between;
  color: var(--icon-white-cl);
}

.header-mobile__burger {
  border: none;
  color: var(--icon-white-cl);
  background-color: transparent;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.header-mobile__icon {
  fill: currentColor;
}
