.hero__wrap {
  background-color: var(--background-dark-cl);
  background-image: url(./../images/hero/slider-img-3-sm.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  padding-top: 208px;
  padding-right: 31px;
  padding-bottom: 209px;
  padding-left: 31px;
}

.hero__uppertitle {
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.hero__maintitle {
  font-family: var(--title-font);
  font-size: 48px;
  line-height: calc(56 / 48);
  letter-spacing: 0.05em;
  color: var(--white-txt-cl);
  margin-bottom: 20px;
}

.hero__descr {
  line-height: calc(26 / 16);
  color: var(--secondary-txt-cl);
  width: 321px;
}
