.hero__container {
  display: flex;
}

.hero__left-side {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    flex-basis: 117px;
    max-width: 117px;
    background-color: var(--background-white-cl);
    padding-bottom: 20px;
  }
}

.hero__socials-list {
  transform-origin: top left;

  @media screen and (min-width: 768px) {
    transform: rotate(-90deg) translateY(150%);
  }

  @media screen and (min-width: 1200px) {
    transform: rotate(-90deg) translateY(200%);
  }
}

.hero__right-side {
  position: relative;

  @media screen and (min-width: 768px) {
    flex-grow: 1;
    margin: 0 auto;
  }
}

.hero__text-wrapper {
  position: absolute;
  top: 208;
  left: 25;

  @media screen and (min-width: 480px) {
    left: 31;
  }
  @media screen and (min-width: 768px) {
    top: 272;
    left: 98;
  }
  @media screen and (min-width: 1200px) {
    left: 100;
  }
}

.hero__uppertitle {
  letter-spacing: var(--ls-hero-uppertitle);
  margin-bottom: 20px;
}

.hero__maintitle {
  font-family: var(--title-font);
  font-size: var(--fs-hero-maintitle-s);
  letter-spacing: var(--ls-hero-maintitle);
  color: var(--white-txt-cl);
  margin-bottom: 20px;

  @media screen and (min-width: 480px) {
    font-size: var(--fs-hero-maintitle-l);
    line-height: var(--lh-hero-maintitle);
  }
}

.hero__descr {
  font-size: var(--fs-hero-descr-s);
  line-height: var(--lh-hero-descr);
  color: var(--secondary-txt-cl);
  width: 250px;

  @media screen and (min-width: 480px) {
    font-size: var(--fs-hero-descr-l);
    line-height: var(--lh-hero-descr-m);
    width: 321px;
  }
}
