.masters {
  background-color: var(--background-light-cl);
}

.masters-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  color: var(--title-txt-cl);
}

.masters-descr {
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--accent-cl);
}
