.masters {
  --indent: 64px;
  @include section();
  background-color: var(--background-light-cl);
}

.masters__title {
  margin-bottom: 44px;
}

.masters__img {
  margin-bottom: 30px;
}

.masters__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  color: var(--title-txt-cl);
  text-align: center;
  margin-bottom: 8px;
}

.masters__descr {
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--accent-cl);
  text-align: center;
  margin-bottom: 30px;
}
