.masters {
  @include section();
  background-color: var(--background-light-cl);

  @media screen and (max-width: 1199px) {
    --indent: 64px;
  }

  @media screen and (min-width: 768px) {
    @include section(100px, 100px);
  }

  @media screen and (min-width: 1200px) {
    @include section(120px, 120px);
  }
}

.masters__title {
  margin-bottom: 44px;
}

.masters__img {
  margin-bottom: 30px;
}

.masters__subtitle {
  font-weight: var(--fw-s);
  font-size: var(--fs-masters-subtitle);
  line-height: var(--lh-masters-subtitle);
  color: var(--title-txt-cl);
  text-align: center;
  margin-bottom: 8px;
}

.masters__descr {
  font-size: var(--fs-masters-descr);
  line-height: var(--lh-masters-descr);
  color: var(--accent-cl);
  text-align: center;
  margin-bottom: 30px;
}
