.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: var(--backdrop-cl);
  backdrop-filter: blur(3px);
  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    transition-delay: var(--delay-menu);
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  color: var(--mobile-menu-txt-cl);
  background-color: var(--background-white-cl);
  padding-top: 118px;
  padding-right: 10px;
  padding-left: 10px;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  transition-delay: var(--delay-menu);

  @media screen and (min-width: 480px) {
    padding-top: 118px;
    padding-right: 10px;
    padding-bottom: 227px;
    padding-left: 40px;
  }

  .overlay.is-hidden & {
    transform: translateX(100%);
    transition-delay: 0ms;
  }
}

.menu__close-btn {
  top: 48px;
  right: 31px;
}

.menu__list {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-weight: var(--fw-l);
  font-size: var(--fs-menu-list);
  line-height: var(--lh-menu-list);
  letter-spacing: var(--ls-menu-list);
  margin-left: 0;
  margin-bottom: 64px;
}

.menu__contatcs {
  font-weight: var(--fw-l);
  font-size: var(--fs-menu-contacts);
  line-height: var(--lh-menu-contacts);
  letter-spacing: var(--ls-menu-contacts);
  margin-bottom: 70px;
}

.menu__phone {
  display: block;
  margin-bottom: 20px;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover {
    color: var(--accent-cl);
  }
}

.menu__btn {
  display: flex;
  min-width: 194px;
}

.menu__socials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu__socials-link {
  font-weight: var(--fw-l);
  font-size: var(--fs-socials-link-s);
  line-height: var(--lh-menu-social-link-s);
  letter-spacing: var(--ls-menu-socials-link);

  @media screen and (min-width: 480px) {
    font-size: var(--fs-socials-link-l);
    line-height: var(--lh-menu-social-link-m);
  }

  &--decorated {
    @extend %align-list;
    gap: 40px;

    &::before {
      content: '';
      width: 60px;
      height: 1px;
      background-color: var(--title-txt-cl);
    }
  }
}

.menu__link {
  margin-left: 100px;
}
