.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-cl);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--background-dark-cl);
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 56px;
  padding-left: 40px;
}

.modal-title {
  color: var(--white-txt-cl);
  text-align: center;
  margin-bottom: 44px;
}

.modal-form-group {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  margin-bottom: 44px;
}

.modal-form-input {
  width: 100%;
  color: var(--white-txt-cl);
  background-color: transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid var(--placeholder-txt-cl);
  outline: transparent;
  transition-property: border-bottom;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-bottom: 1px solid var(--white-txt-cl);
}

.modal-form-input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: var(--placeholder-txt-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-form-input:hover::placeholder,
.modal-form-input:focus::placeholder {
  color: var(--white-txt-cl);
}

.modal-form-message {
  height: 125px;
  resize: none;
}
