.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: var(--backdrop-cl);
  backdrop-filter: blur(3px);
  transition: opacity 600ms ease-out, visibility 600ms ease-out;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  text-align: center;
  width: 95%;
  height: auto;
  border-radius: 4px;
  background-color: var(--background-white-cl);
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  box-shadow: var(--modal-shadow);
  transition: transform 400ms ease-in-out 200ms, opacity 400ms ease-in-out 200ms;

  @media screen and (min-width: 480px) {
    width: 450px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  @media screen and (min-width: 768px) {
    width: 528px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
  }
}

.no-scroll {
  overflow: hidden;
}

.modal__title {
  font-size: var(--fs-modal-title-s);
  line-height: var(--lh-modal-title-s);
  color: var(--title-txt-cl);
  text-align: center;
  margin-bottom: 15px;

  @media screen and (min-width: 480px) {
    font-size: var(--fs-modal-title-m);
    line-height: var(--lh-modal-title-m);
  }
}

.modal-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.modal-form__wrap {
  position: relative;
  text-align: left;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.modal-form__label {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-modal-form-label);
  line-height: var(--lh-modal-form-label);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--secondary-txt-cl);
}

.modal-form__container {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  color: var(--main-txt-cl);
  background-color: transparent;
  padding-top: 8px;
  padding-right: 38px;
  padding-bottom: 8px;
  padding-left: 38px;
  border: 1px solid var(--border-light-cl);
  border-radius: 4px;
  outline: transparent;
  transition-property: border;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-cl);
  }

  &::placeholder {
    font-weight: var(--fw-s);
    font-size: var(--fs-modal-form-placeholder);
    line-height: var(--lh-modal-input-placeholder);
    letter-spacing: 0.1em;
    color: var(--placeholder-light-cl);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--placeholder-accent-cl);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 10;
  transform: translateY(-50%);
  color: var(--modal-agreement-icon-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .modal-form__input:hover + &,
  .modal-form__input:focus + &,
  &:hover {
    color: var(--accent-cl);
  }
}

.modal-form-icon__use {
  fill: currentColor;
}

.modal-status__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.modal-status__warning {
  fill: var(--modal-validate-warning-cl);
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-status__success {
  fill: var(--modal-validate-success-cl);
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-form__notfication {
  position: absolute;
  left: 50%;
  bottom: -25;
  transform: translateX(-50%);
  width: 100%;
  @extend %centeredFlex;
  font-size: var(--fs-notification);
  letter-spacing: 0.01em;
  color: red;
  opacity: 0;
}

.modal-form__input:invalid:required:not(:placeholder-shown)
  ~ .modal-form__notfication,
.modal-form__input:invalid:required:not(:placeholder-shown)
  ~ .modal-status__icon
  .modal-status__warning,
.modal-form__input:valid:required:not(:placeholder-shown)
  ~ .modal-status__icon
  .modal-status__success {
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-form__message {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 125px;
}

.modal-egreement__wrap {
  @extend %centeredFlex;
  margin-bottom: 30px;
  user-select: none;
  cursor: pointer;
}

.modal-egreement__input {
  display: none;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal-egreement__icon {
  color: var(--modal-agreement-icon-cl);
}

.modal-egreement__unchecked {
  fill: currentColor;
  transition-property: fill, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .modal-egreement__input:hover + .modal-egreement__icon & {
    fill: var(--accent-cl);
  }

  .modal-egreement__input:checked + .modal-egreement__icon & {
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
}

.modal-egreement__checked {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .modal-egreement__input:checked + .modal-egreement__icon & {
    opacity: 1;
    transition-property: opacity;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
}

.modal-egreement__text {
  font-size: var(--fs-modal-egreement-s);
  line-height: var(--lh-modal-egreement-text-s);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-left: 8px;

  @media screen and (min-width: 768px) {
    font-size: var(--fs-modal-egreement-l);
    line-height: var(--lh-modal-egreement-text-t);
  }
}

.modal-egreement__link {
  color: var(--accent-cl);
  text-decoration: underline;
  text-underline-position: under;
}
