.booking {
  @include section();

  @media screen and (min-width: 768px) {
    @include section(100px, 100px);
  }

  @media screen and (min-width: 1200px) {
    @include section(130px, 111px);
    width: 100%;
  }
}

.booking__title {
  color: var(--white-txt-cl);
  text-align: center;
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.booking-form__group {
  display: flex;
  flex-direction: column;
}

.booking-form__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: var(--indent);
  }
}

.booking-form__thumb {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 44px;
}

.booking-form__label {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  font-weight: 600;
  font-size: var(--fs-booking-form-label);
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--placeholder-grey-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .booking-form__input:hover + &,
  .booking-form__input:focus + &,
  .booking-form__input:not(:placeholder-shown) + & {
    color: #fff;
  }

  .booking-form__input:focus + &,
  .booking-form__input:not(:placeholder-shown) + & {
    position: absolute;
    top: -17;
    left: 0;
  }
}

.booking-form__input {
  width: 100%;
  line-height: calc(15 / 11);
  color: var(--white-txt-cl);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-grey-cl);
  padding-right: 30px;
  outline: transparent;
  transition-property: border-bottom;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border-bottom: 1px solid var(--border-white-cl);
  }

  &::placeholder {
    color: transparent;
    user-select: none;
  }
}

.booking-form__input:invalid:required:not(:placeholder-shown)
  ~ .booking-form__notfication,
.booking-form__input:invalid:required:not(:placeholder-shown)
  ~ .booking-status__icon
  .booking-status__warning,
.booking-form__input:valid:required:not(:placeholder-shown)
  ~ .booking-status__icon
  .booking-status__success {
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.booking-status__icon {
  position: absolute;
  bottom: 5;
  right: 0;
}

.booking-status__warning {
  opacity: 0;
  fill: var(--modal-validate-warning-cl);
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.booking-status__success {
  opacity: 0;
  fill: var(--modal-validate-success-cl);
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.booking-form__notfication {
  position: absolute;
  left: 50%;
  bottom: -20;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-notification);
  line-height: calc(20 / 12);
  color: var(--modal-validate-warning-cl);
  opacity: 0;
}

.booking-form__message {
  height: 75px;
  padding: 0;
}

.booking-form__btn {
  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}
