.prices {
  @include section();
  background-color: var(--background-prices-cl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;

  // mobile screen
  background-image: url('../images/prices/prices-bg_m.png');
  background-image: -webkit-image-set(
    url('../images/prices/prices-bg_m.webp') 1x
  );
  @include retinax2 {
    background-image: url('../images/prices/prices-bg@2x_m.png');
    background-image: -webkit-image-set(
      url('../images/prices/prices-bg@2x_m.webp') 2x
    );
  }
  @include retinax3 {
    background-image: url('../images/prices/prices-bg@3x_m.png');
    background-image: -webkit-image-set(
      url('../images/prices/prices-bg@3x_m.webp') 3x
    );
  }
  @include retinax4 {
    background-image: url('../images/prices/prices-bg@4x_m.png');
    background-image: -webkit-image-set(
      url('../images/prices/prices-bg@4x_m.webp') 4x
    );
  }

  @media screen and (min-width: 768px) {
    @include section(100px, 100px);
    // tablet screen
    background-image: url('../images/prices/prices-bg_t.png');
    background-image: -webkit-image-set(
      url('../images/prices/prices-bg_t.webp') 1x
    );
    @include retinax2 {
      background-image: url('../images/prices/prices-bg@2x_t.png');
      background-image: -webkit-image-set(
        url('../images/prices/prices-bg@2x_t.webp') 2x
      );
    }
    @include retinax3 {
      background-image: url('../images/prices/prices-bg@3x_t.png');
      background-image: -webkit-image-set(
        url('../images/prices/prices-bg@3x_t.webp') 3x
      );
    }
    @include retinax4 {
      background-image: url('../images/prices/prices-bg@4x_t.png');
      background-image: -webkit-image-set(
        url('../images/prices/prices-bg@4x_t.webp') 4x
      );
    }
  }

  @media screen and (min-width: 1200px) {
    @include section(120px, 120px);
    // desktop screen
    background-image: url('../images/prices/prices-bg_d.png');
    background-image: -webkit-image-set(
      url('../images/prices/prices-bg_d.webp') 1x
    );
    @include retinax2 {
      background-image: url('../images/prices/prices-bg@2x_d.png');
      background-image: -webkit-image-set(
        url('../images/prices/prices-bg@2x_d.webp') 2x
      );
    }
    @include retinax3 {
      background-image: url('../images/prices/prices-bg@3x_d.png');
      background-image: -webkit-image-set(
        url('../images/prices/prices-bg@3x_d.webp') 3x
      );
    }
    @include retinax4 {
      background-image: url('../images/prices/prices-bg@4x_d.png');
      background-image: -webkit-image-set(
        url('../images/prices/prices-bg@4x_d.webp') 4x
      );
    }
  }
}

.uppertitle {
  color: var(--uppertitle-txt-cl);
}

.prices__title {
  color: var(--white-txt-cl);
  margin-bottom: 44px;

  @media screen and (min-width: 480px) {
    font-size: var(--fs-prices-title-m);
    line-height: var(--lh-prices-title-m);
  }

  @media screen and (min-width: 768px) {
    font-size: var(--fs-prices-title-l);
    line-height: var(--lh-prices-title-t);
  }
}

.prices__upperlist {
  margin-bottom: 44px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;

  @media screen and (max-width: 1199px) {
    background-image: linear-gradient(var(--price-list-gredient-cl));
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 32px;
    padding-right: 40px;
    padding-bottom: 32px;
    padding-left: 40px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: var(--indent);
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    perspective: 1000px;
  }
}

.prices__upperitem {
  @media screen and (min-width: 1200px) {
    flex-basis: 50%;
    width: 570px;
    transition: transform;
    transition-duration: var(--duration-slow);
    transition-timing-function: var(--timing-function);
  }

  &:nth-child(1) {
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(var(--price-list-gredient-cl));
      transform-origin: left center;
      transform: rotateY(15deg);
    }
  }

  &:nth-child(2) {
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(var(--price-list-gredient-cl));
      transform-origin: right center;
      transform: rotateY(-15deg);
    }
  }

  &:hover {
    transform: rotateY(0);
  }

  &:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 480px) and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}

.prices__sublist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--fs-prices-sublist-s);
  line-height: var(--lh-prices-subtitle-s);
  letter-spacing: var(--ls-prices-sublist);
  color: var(--secondary-txt-cl);

  @media screen and (min-width: 480px) {
    font-size: var(--fs-prices-sublist-m);
    line-height: var(--lh-prices-subtitle-m);
    gap: 20px;
  }

  @media screen and (min-width: 768px) {
    font-size: var(--fs-prices-sublist-l);
    line-height: var(--lh-prices-subtitle-t);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
}

.prices__subitem {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 4px;

  &::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: var(--psevdoelement-prices-cl);
  }
}

.prices__subtext {
  flex-shrink: 0;

  &:last-child {
    order: 1;
  }
}
